header {
    background-color: royalblue;
    text-align: center;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

/*.fiveDay {
    padding: 10px;
    background-color: white;
    color: black;
}*/


