header {
    background-color: royalblue;
    text-align: center;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

.date {
    font-weight: bold;
    font-size: 17px;
}

.weather {
    padding: 10px;
    background-color: white;
}

.hide {
    display: none;
}

.fiveDayHeader {
    padding: 10px;
    background-color: transparent;
    color: black;
    border: 0px solid;
}

.fiveDay {
    display: flex;
    justify-content: space-evenly;
}

#space{
    position: relative;
    left: 310px;
    bottom: 92px;
}


.date {
    font-weight: bold;
    font-size: 20px;
}

#city-search {
    box-sizing: inherit;
}